node_modules
**/node_modules
.next
**/.next
out
**/out
dist
**/dist
.turbo
**/.turbo
.env
.env.local
**/.env
**/.env.local
*.env
.DS_Store
*.log
.vercel
**/.vercel
next-env.d.ts
**/next-env.d.ts
posters.html
**/posters.html
*.tsbuildinfo
**/src/generated

